# **DATA SCIENCE : TOOLS AND ECOSYSTEM**

***IN THIS NOTEBOOK I WILL SHOW VARIOUS DATA SCIENCE TOOLS AND SYSTEMS***

***-HERE ARE SOME EXAMPLES OF THE BEST AND MOST USED LANGUAGES FOR DATA SCIENCE:***
1. PYTHON
2. R
3. JULIA

***-HERE ARE SOME OF THE BEST AND MOST USED DATA SCIENCE LIBRARIES:***
1. GGPOLT2
2. PANDA
3. NUMPY
4. MATPLOTLIB

***-THE FOLLOWING ARE DATA SCIENCE TOOLS:***
|DATA SCIENCE TOOLS|
|------------------|
|JUPYTER NOTEBOOK|
|RSTUDIO|
|VS CODE|
|ANACONDA|

### ***-IN THIS CODE WE WILL SHOW ARITHMETIC EXPRESSION EXAMPLE:***

In [5]:
#IN THIS CODE I WILL 5 WITH THE MUPTIPLICATION OF 3 AND 4
(3*4)+5

17

In [6]:
#in this code we will CONVERT 200 MIN INTO HOURS
200/60

3.3333333333333335

# ***objectives:***

- data science languages
- data science libraries
- data science tools 
- example of arithmetic expression
- example of code to turn minutes into hours

## ***AUTHOR***
 ***NIHAL BHAMRAH***